* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    block-size: 100%;
    font-family: system-ui, sans-serif;
    line-height: 1.5;
}

header {
    color: #fff;
    background-color: #333;
    border: 5px solid #000;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: block;
}

nav a {
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #fff;
    border-top: 1px solid #999;
}

header .title {
    padding: 1em;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;
}

@media screen and (min-width: 40rem) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header ul {
        display: flex;
    }
    header a {
        border-top: none;
    }
}

@media screen and (min-width: 80rem) {
    main {
        grid-template-columns: 1fr 1fr;
    }
}